<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="/training/public/components/buttons/buttons.css">
    <link rel="stylesheet" href="01.css">
</head>
<body>
<div class="content">
    <div class="box"></div>
</div>
<a href="#" class="button button-uppercase button-primary">uppercase</a>
</body>
</html>