<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width,initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="">
</head>
<body>
<script type="text/javascript">
    var array=['dl','xx','dd',33];
//    array.forEach(function (val,i) {
//
//    })
    Array.prototype.for_each=function () {
        for(var i=0;i<this.length;i++){
            alert(this[i])
        }


    };
    array.for_each();
</script>
</body>
</html>