<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width,initial-scale=1">
    <title>love-food</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header>
    <div class="headerMain">
        <div class="login-register fl">
            <a href="#" class="register">注册</a>
            <a href="#">登录</a>
        </div>
            <div class="header-mid fl">
                <i class="loveFood"></i>
                <a>爱美食</a>
            </div>
        <div class="purchase fr">
            <div class="search-wrap"><i class="search"></i></div>
            <i class="car"></i><a href="#">加入购物车</a>
        </div>
    </div>
</header>
<nav>
    <img src="/training/public/images/love-food/love-food-1.png" alt="背景图">
    <ul id="navUl">
        <li class="navLi active"><a href="#">首页</a></li>
        <li class="navLi"><a href="#">关于我们</a></li>
        <li class="navLi"><a href="#">我们的菜单</a></li>
        <li class="navLi"><a href="#">我们的文化</a></li>
        <li class="navLi"><a href="#">加入我们</a></li>
        <li class="navLi "><a href="#">联系我们</a></li>
    </ul>
    <div class="collect">
    <i></i>
        <p>喜欢收藏</p>
        <p>spicy,tasty&delicious always ！</p>
        <a href="#">给我们建议</a>
    </div>
    <div id="option">
        <div class="option-box fl">
            <div class="box-pic ">
                <i></i>
            </div>
            <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        </div>
        <div class="option-box fl">
            <div class="box-pic ">
                <i></i>
            </div>
            <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        </div>
        <div class="option-box fl">
            <div class="box-pic ">
                <i></i>
            </div>
            <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        </div>
    </div>
</nav>
<div class="clear"></div>
<section>
    <h1>特殊感谢</h1>
    <p>为感谢全国用户多年来对我们的大力支持，我们特别推出一些列特色美食，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。为感谢全国用户多年来对我们的大力支持，我们特别推出一些列特色美食，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣
    </p>
<ul class="picS">
    <li><img src="/training/public/images/love-food/love-food-2.png" alt="pic-01"></li>
    <li>
        <h1>蔬菜沙拉</h1>
        <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        <span class="fr">￥25 <a href="#">原价45 </a>    </span>
    </li>
    <li><img src="/training/public/images/love-food/love-food-3.png" alt="pic-03"></li>
    <li>
        <h1>蔬菜沙拉</h1>
        <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        <span class="fr">￥25 <a href="#">原价45 </a>    </span>
    </li>
    <li><img src="/training/public/images/love-food/love-food-4.png" alt="pic-05"></li>
    <li>
        <h1>蔬菜沙拉</h1>
        <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        <span class="fr">￥25 <a href="#">原价45 </a>    </span>

    </li>
</ul>
    <div class="clear"></div>


</section>
<div class="banner">
    <div class="bannerMid">
        <div class="banner-pic fl">
            <img src="/training/public/images/love-food/love-food-5.png" alt="banner">
        </div>
        <div class="banner-txt fr">
            <h1 class="fl">精细的沙漠</h1>
            <h3 class="fl">好的事物能够保证你的健康</h3>
            <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。
                采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
            <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。
                采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
        </div>
    </div>
</div>
<section>
    <div class="clear"></div>
    <div class="foods">
        <h1>美味的食物</h1>
        <ul class="foodUl">
            <li class="foodLi">
                <div class="food-title">特殊面食</div>
                <img src="/training/public/images/love-food/love-food-7.png" alt="食物图片">
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
                <a href="#">+更多</a>
            </li>
            <li class="foodLi">
                <div class="food-title">特殊面食</div>
                <img src="/training/public/images/love-food/love-food-7.png" alt="食物图片">
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
                <a href="#">+更多</a>
            </li>
            <li class="foodLi">
                <div class="food-title">特殊面食</div>
                <img src="/training/public/images/love-food/love-food-7.png" alt="食物图片">
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
                <a href="#">+更多</a>
            </li>
            <li class="foodLi">
                <div class="food-title">特殊面食</div>
                <img src="/training/public/images/love-food/love-food-7.png" alt="食物图片">
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲自制作，味道美味可口让您尽享美食。</p>
                <a href="#">+更多</a>
            </li>
        </ul>
    </div>
</section>
<div class="clear" style="height: 6em"></div>
<footer>
    <div class="foot">
        <div class="item ">
            <h3 class="fl">关于必胜客</h3>
            <ul class="fl">
                <li>品牌介绍</li>
                <li>新闻中心</li>
                <li>企业</li>
            </ul>
        </div>
        <div class="item ">
            <h3 class="fl">美味菜单</h3>
            <ul class="fl">
                <li>新品推荐</li>
                <li>休闲早餐</li>
                <li>工作日特惠午餐</li>
                <li>轻松下午茶</li>
                <li>欢乐夜宵</li>
            </ul>
            <h2 class="fl">儿童菜单</h2>
        </div>
        <div class="item ">
            <h3 class="fl">关注我们</h3>
            <ul class="fl">
                <li>下载APP</li>
                <li>官方微信</li>
                <li>新浪微博</li>
                <li>腾讯微博</li>
                <li>人人网</li>
                <li>人人网</li>
            </ul>

        </div>
        <div class="item ">
            <h3 class="fl">法律/隐私条款</h3>
            <ul class="fl">
                <li>法律条款</li>
                <li>隐私权声明</li>

            </ul>

        </div>
        <div class="item ">
            <h3 class="fl">其他品牌网站</h3>
            <ul class="fl">
                <li>中国百胜</li>
                <li>中国肯德基</li>
                <li>东方既白</li>
                <li>小肥羊</li>
                <li >肯德基宅急送</li>

            </ul>
            <h2 class="fl">必胜客宅急送</h2>
        </div>
    </div>
    <div class="bottom">
        <div class="bottomMain">
        <div class="fr">
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
        </div>
        <p class="fr">版权所有 百胜 (中国)投资有限公司泸ICP备05031779号

        </p>
        </div>
    </div>
    <i class="toTop"></i>
</footer>
</body>
</html>