<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="phone_03.css">
    <link rel="stylesheet" href="/training/public/components/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div class="signal">
        <i class="fa fa fa-signal fa-2x"></i>
        <span>Verizion</span>
        <i class="fa fa fa-wifi fa-2x"></i>
    </div>
    <div class="current-date">
        4:21 PM
    </div>
    <div class="battery">
        <span>100%</span>
        <i class="fa fa fa-battery (alias) fa-2x"></i>
    </div>
</header>
<div class="options">
      <h1>My Tags</h1>
      <div id="tab">
          <a href="#" class="active">Latest</a>
          <a href="#">Favorites</a>
          <a href="#">Archive</a>
      </div>
</div>
<section>
    <div class="main_left">
        <div class="item">
            <img src="/training/public/images/phone/pic_01.fw.png" alt="人物图片"/>
            <div class="item-txt" >
                <p class="name">
                    Union Jack skater girl
                </p>
                <span>
                pinterest.com
                </span>
                <p class="praise-comments">
                    <i class="fa fa-heart">68</i>
                    <i class="fa fa-comment">5</i>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/training/public/images/phone/pic_03.fw.png" alt="人物图片"/>
            <div class="item-txt" >
                <p class="name">
                    Love the colors!
                </p>
                <span>
                flickr.com
            </span>
                <p class="praise-comments">
                    <i class="fa fa-heart">23</i>
                    <i class="fa fa-comment">3</i>
                </p>
            </div>
        </div>

    </div>
    <div class="main-right">
        <div class="item">
            <img src="/training/public/images/phone/pic_02.fw.png" alt="人物图片"/>
            <div class="item-txt" >
                <p class="name">
                    My name is Rachael
                </p>
                <span>
                graphicburger.com
            </span>
                <p class="praise-comments">
                    <i class="fa fa-heart">84</i>
                    <i class="fa fa-comment">31</i>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/training/public/images/phone/pic_04.fw.png" alt="人物图片"/>
            <div class="item-txt" >
                <p class="name">
                    Night Out Ensembles
                </p>
                <span>
                m.facebook.com
            </span>
                <p class="praise-comments">
                    <i class="fa fa-heart">9</i>
                    <i class="fa fa-comment">0</i>
                </p>
            </div>
        </div>
    </div>
</section>
<footer></footer>

</body>
</html>