*{
    margin: 0 auto;padding: 0;
}
body{
    font-size: 62.5%;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}
a{
    text-decoration: none;
    color: #444;
}
img{
    width: 100%;height: 100%;
}
li{
    list-style: none;
}
a{
    color: #fff;
    opacity: 0.8;
}
.clear{
    width: 100%;height: 20px;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
header{
    background-color: #333;
    overflow: hidden;
   font-size: 0.9em;
}
i{
    display: inline-block;
    background: url(https://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/app_icon_0495d1d.png) no-repeat;
    width: 1em;height: 1.2em;
    background-size: contain;
    vertical-align: middle;
}
#app{
    padding: 0.3em 0 0 2em;
}
.app{
    opacity: 1;
    margin-right: 0.5em;
    padding-right: 0.5em;
    color: #08d7a2;
    border-right: 1px solid #5d5d5d;
}
#options{
    width:28%;
}
#options ul li {
    padding: 0.3em 0.7em;
    float: left;
}
#options ul li a{
    padding-right: 1em;
    border-right: 1px solid #5d5d5d;
}
.name i{
    height: 1em;
    background: url(../../../../public/images/arrow.png) no-repeat;
}
nav{
    background: #fafafa;
    border-bottom: 1px solid gainsboro;
}
.navMain{
    width: 72%;
    overflow:auto;
    padding: 0.7em 0 0.3em 0;

}
.navMain h1{
    font-size: 2.1em;
    padding: 0 0.5em 0 1em;
    color: #08d7a2;
}
.navMain ul li{
    float: left;
    padding: 0.7em 1em;
}

.navMain ul li a{
    color: grey;
    padding-bottom:0.8em;
}
.navMain ul li a.active,.navMain ul li a:hover{
    border-bottom: 2px solid #08d7a2;
    color: black;
}

#cityS{
     margin-top: 1em;
}
#cityS a{
    padding-left: 0.4em;
    color: grey;
    font-size: 0.8em;
}
.city,.navMain ul li{
    font-size: 1.2em;
}
section{
    width: 72%;
}
aside{
    width: 23%;
    background: #fafafa;
}

.type p{
    font-size: 1.2em;
    margin-bottom: 1em;
}
.type a{
    line-height: 1.8em;
    padding-right: 1em;
    float: left;
    color: black;
}
.type i{
    padding-right: 0.4em;
    width: 0.8em;height: 0.8em;
    background: url("https://www.lgstatic.com/www/static/index/modules/sidebar/img/arr_6c6ecd7.png ");
    background-size: cover;
}
.type a:hover{
    text-decoration: underline;
}
.type-last{
    border-bottom: 2px solid #00b38a;
    padding: 0.4em 0 0 1em;
    border-top: 0.7em solid #fff;
    background: gainsboro;
}
.type-last p{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.type-last p i{
   margin-right: 0.5em;
    width: 1em;height: 1em;
    background: url("https://www.lgstatic.com/www/static/index/modules/sidebar/img/arr_btn_34cdbac.png") 0 -11px;
    background-size: cover;
}
.type{
    position: relative;
    padding: 1.6em 0 0 1em;
    overflow: auto;
    border: 2px solid #fafafa;
}
.type:hover{
    border: 2px solid #c9cbce;
    border-right-width:0 ;
    background-color: #fff;
}
article{
    width: 70%;

}
#search input{
    border: 2px solid #08d7a2;
}
.search-txt{
    outline: none;
    padding: 0.2em 0  0.2em 0.5em;
    width: 76%;
    color: lightgray;
}
.search-btn{
    color:#fff;
    border: 0;
    line-height: 1.8em;
    background-color: #08d7a2;
    border-bottom: 1px solid #08d7a2;
    width: 18%;
}