<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device=device-width,initial-scale=1">
    <title>拉勾网</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header>
    <div id="app" class="fl">
        <a href="#" class="app"><i></i>拉勾APP</a>
        <a href="#">进入企业版</a>
    </div>
    <div id="options" class="fr">
        <ul>
            <li><a href="#">消息</a></li>
            <li><a href="#">我的简历</a></li>
            <li><a href="#">投递箱</a></li>
            <li><a href="#">收藏夹</a></li>
            <li><a href="#" class="name">邓力<i></i></a></li>
        </ul>
    </div>
</header>
<nav>
    <div class="navMain">
        <h1 class="fl">拉勾</h1>
        <div id="cityS" class="fl" ><span class="city">成都站</span><a href="javascript:void(0)">[切换城市]</a></div>
        <ul class="fl">
            <li class="navLi"><a href="javascript:void(0)" class="active">首页</a></li>
            <li class="navLi"><a href="javascript:void(0)">公司</a></li>
            <li class="navLi"><a href="javascript:void(0)">一拍</a></li>
            <li class="navLi"><a href="javascript:void(0)">言职</a></li>
            <li class="navLi"><a href="javascript:void(0)">大鲲</a></li>
        </ul>
    </div>
</nav>
<div class="clear"></div>
<section>
    <aside class="fl">
        <div class="type">
           <p>技术 <i class="fr"></i></p>
           <ul>
               <li><a href="#">Java</a></li>
               <li><a href="#">PHP</a></li>
               <li><a href="#">C++</a></li>
               <li><a href="#">Android</a></li>
               <li><a href="#">iOS</a></li>
               <li><a href="#">数据挖掘</a></li>
               <li><a href="#">测试</a></li>
               <li><a href="#">前端开发</a></li>
               <li><a href="#">html5</a></li>
               <li><a href="#">技术总监</a></li>
               <li><a href="#">架构师</a></li>
               <li><a href="#">CTO</a></li>
           </ul>
       </div>
        <div class="type">
            <p>产品 <i class="fr"></i></p>
            <ul>
                <li><a href="#">产品总监</a></li>
                <li><a href="#">产品经理</a></li>
                <li><a href="#">数据产品经理</a></li>
                <li><a href="#">游戏策划</a></li>
            </ul>
        </div>
        <div class="type">
            <p>设计 <i class="fr"></i></p>
            <ul>
                <li><a href="#">UI设计师</a></li>
                <li><a href="#">交互设计</a></li>
                <li><a href="#">网页设计师</a></li>
                <li><a href="#">平面设计师</a></li>
                <li><a href="#">视觉设计师</a></li>
            </ul>
        </div>
        <div class="type">
            <p>运营 <i class="fr"></i></p>
            <ul>
                <li><a href="#">新媒体运营</a></li>
                <li><a href="#">编辑</a></li>
                <li><a href="#">数据运营</a></li>
                <li><a href="#">运营总监</a></li>
                <li><a href="#">COO</a></li>
            </ul>
        </div>
        <div class="type">
            <p>市场与销售 <i class="fr"></i></p>
            <ul>
                <li><a href="#">市场推广</a></li>
                <li><a href="#">市场总监</a></li>
                <li><a href="#">市场策划</a></li>
                <li><a href="#">BD</a></li>
                <li><a href="#">销售总监</a></li>
            </ul>
        </div>
        <div class="type">
            <p>智能 <i class="fr"></i></p>
            <ul>
                <li><a href="#">HR</a></li>
                <li><a href="#">行政</a></li>
                <li><a href="#">财务</a></li>
                <li><a href="#">审计</a></li>
            </ul>
        </div>
        <div class="type">
            <p><span>金融<i></i></span> <i class="fr"></i></p>
            <ul>
                <li><a href="#">投资</a></li>
                <li><a href="#">融资</a></li>
                <li><a href="#">并购</a></li>
                <li><a href="#">风控</a></li>
            </ul>
        </div>
        <div class=" type-last">
            <p>订阅职位 <i class="fr"></i></p>
        </div>
    </aside>
    <article class="fr">
        <div id="search">
            <form action="">
                <label ><input type="text" class="search-txt fl" placeholder="搜索职位、公司或地点"></label>
                <button type="submit" class="search-btn fl">搜索</button>
                <dl id="key" class="fl">
                    <dt class="fl">热门搜索:</dt>
                    <dd class="fl">
                        <a href="#"> iOS</a>
                        <a href="#"> 运维</a>
                        <a href="#"> 后端开发</a>
                        <a href="#"> PHP</a>
                        <a href="#"> 产品经理</a>
                        <a href="#"> 文案策划</a>
                        <a href="#"> html5</a>
                        <a href="#">拉勾APP</a>
                    </dd>
                </dl>
            </form>
        </div>
        <div class="banner">
            <div class="banTop">
                <div class="banTop-l fl">
                    <a href="#"><img src="https://www.lgstatic.com/i/image/M00/A9/B8/Cgp3O1iwIceAIhbAAAILHY-L1LE271.JPG" alt="banner"></a>
                </div>
                <div class="banTop-r fr">
                    <a href="#"><img src="https://www.lgstatic.com/i/image/M00/A9/B8/CgqKkViwIcmARP9wAAArGxIvAPo638.JPG" alt="banner-l"></a>
                    <a href="#"><img src="https://www.lgstatic.com/i/image/M00/B1/6E/Cgp3O1i5EO-AekAYAAAW31-85qg403.JPG" alt="banner-l"></a>
                    <a href="#"><img src="https://www.lgstatic.com/i/image/M00/AC/47/CgqKkVi0BRGAVx4OAAAv_nGRH-Y878.JPG" alt="banner-l"></a>
                </div>
            </div>
            <div class="banBto">
                <div class="banBto-box">
                    <img src="//www.lgstatic.com/i/image/M00/6A/52/CgqKkVgYA8WAcActAAAPQ6l18kw981.png" alt="banner">
                </div>
                <div class="banBto-box">
                    <img src="//www.lgstatic.com/i/image/M00/8A/7D/CgqKkVh13XOACYX_AAAWnRr0nS0812.jpg" alt="banner">
                </div>
                <div class="banBto-box">
                    <img src="//www.lgstatic.com/i/image/M00/A8/31/CgqKkViuiaSAZCzFAABFyVvzShQ350.png" alt="banner">
                </div>
                <div class="banBto-box">
                    <img src="//www.lgstatic.com/i/image/M00/5B/E9/CgqKkVfiWmGAF7ABAACTgY1PQ6c367.png" alt="banner">
                </div>
                <div class="banBto-box">
                    <img src="//www.lgstatic.com/i/image/M00/01/B3/CgqKkVZzvsCAEk85AAAYzLOrlbc660.jpg" alt="banner">
                </div>
                <div class="banBto-box">
                    <img src="//www.lgstatic.com/image1/M00/0C/6B/Cgo8PFT1XgGAQBDGAABoGRtHk5s961.png" alt="banner">
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div id="recommend">
            <div id="tab">
                <a href="javascript:void(0)" class="active">推荐职位</a>
                <a href="javascript:void(0)">热门职位</a>
                <a href="javascript:void(0)">最新职位</a>
            </div>
                <ul id="content">
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">O2O平台运营[成都·盐市...</a><span class="update">15:27发布<i></i></span></div>
                            <p class="fl"><span class="salary">6k-10k</span><span class="experience">经验1-3年 / 本科</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">效率源科技</a></p>
                            <span class="introduce">信息安全 / 成长型(不需要融资)</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>资深</span>
                                <span>电商</span>
                                <span>旅游</span>
                            </p> <span class="fr">“氛围好，设文娱部，有各类特色活动及福利”</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">研发工程师[成都·高新区]</a><span class="update">15:31发布<i></i></span></div>
                            <p class="fl"><span class="salary">5k-10k</span><span class="experience">经验1-3年 / 大专</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">实验楼</a></p>
                            <span class="introduce">教育,数据服务 / 成长型(A轮)</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>软件开发</span>
                                <span>文档</span>
                                <span>咨询顾问</span>
                            </p> <span class="fr">“创新有趣,六险一金,团建旅行,高逼格环境</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">IT技术课程讲师[成都·高新...</a><span class="update">15:31发布<i></i></span></div>
                            <p class="fl"><span class="salary">6k-9k</span><span class="experience">经验1-3年 / 大专</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">琥珀亲子</a></p>
                            <span class="introduce">移动互联网,生活服务 / 成长型(A轮)</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>资深</span>
                                <span>电商</span>
                                <span>旅游</span>
                            </p> <span class="fr">“行业第一,发展前景,快速成长,充分授权”</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">H5前端工程师[成都·金沙]</a><span class="update">15:31发布<i></i></span></div>
                            <p class="fl"><span class="salary">10k-14k</span><span class="experience">经验1-3年 / 大专</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">成都立华投资有限公司</a></p>
                            <span class="introduce">金融,硬件 / 初创型(不需要融资</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>html5</span>
                                <span>web</span>
                                <span>HTML</span>
                            </p> <span class="fr">“零食,下午茶,技术提升,金融圈”</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">O2O平台运营[成都·盐市...</a><span class="update">15:27发布<i></i></span></div>
                            <p class="fl"><span class="salary">6k-10k</span><span class="experience">经验1-3年 / 本科</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">效率源科技</a></p>
                            <span class="introduce">信息安全 / 成长型(不需要融资)</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>资深</span>
                                <span>电商</span>
                                <span>旅游</span>
                            </p> <span class="fr">“氛围好，设文娱部，有各类特色活动及福利”</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">研发工程师[成都·高新区]</a><span class="update">15:31发布<i></i></span></div>
                            <p class="fl"><span class="salary">5k-10k</span><span class="experience">经验1-3年 / 大专</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">实验楼</a></p>
                            <span class="introduce">教育,数据服务 / 成长型(A轮)</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>软件开发</span>
                                <span>文档</span>
                                <span>咨询顾问</span>
                            </p> <span class="fr">“创新有趣,六险一金,团建旅行,高逼格环境</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">IT技术课程讲师[成都·高新...</a><span class="update">15:31发布<i></i></span></div>
                            <p class="fl"><span class="salary">6k-9k</span><span class="experience">经验1-3年 / 大专</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">琥珀亲子</a></p>
                            <span class="introduce">移动互联网,生活服务 / 成长型(A轮)</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>资深</span>
                                <span>电商</span>
                                <span>旅游</span>
                            </p> <span class="fr">“行业第一,发展前景,快速成长,充分授权”</span>
                        </div>
                    </li>
                    <li>
                        <div class="clear"></div>
                        <div class="job-mes fl">
                            <div class="job-name fl"><a href="#">H5前端工程师[成都·金沙]</a><span class="update">15:31发布<i></i></span></div>
                            <p class="fl"><span class="salary">10k-14k</span><span class="experience">经验1-3年 / 大专</span></p>
                        </div>
                        <div class="company-mes fr">
                            <p><a href="#">成都立华投资有限公司</a></p>
                            <span class="introduce">金融,硬件 / 初创型(不需要融资</span>
                        </div>
                        <div class="clear"></div>
                        <div class="job-tags">
                            <p class="fl">
                                <span>html5</span>
                                <span>web</span>
                                <span>HTML</span>
                            </p> <span class="fr">“零食,下午茶,技术提升,金融圈”</span>
                        </div>
                    </li>
                </ul>
            <div class="clear"></div>
                <a href="#" id="more" class="fr">查看更多 <i></i>  </a>

        </div>
        <div class="clear"></div>
        <dl id="links">
            <dt class="fl">友情链接</dt>
            <dd class="fl">
                <a href="#">拉勾网</a>
                <a href="#">拉勾网</a>
                <a href="#">拉勾网</a>
                <a href="#">拉勾网</a>
                <a href="#">拉勾网</a>
                <a href="#">拉勾云 中大网校</a>
                <a href="#">拉勾网</a>
                <a href="#">拉勾网</a>
                <a href="#">拉勾网</a>

            </dd>
        </dl>
    </article>
</section>
<div class="clear"></div>

<footer>
    <div class="foot">
       <div >
           <img src="https://www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/footer_lagou_icon_75f0ebc.png" class="fl" alt="pic">
           <ul class="fl">
               <li><a href="#">拉勾APP <i></i></a></li>
               <li><a href="#">拉勾微博</a></li>
               <li><a href="#">拉勾微信</a></li>
               <li><a href="#">版本更新</a></li>
               <li><a href="#">帮助中心</a></li>
               <li><a href="#">联系我们</a></li>
               <li><a href="#">招聘解决方案</a></li>
               <li>服务热线：4006-2828-35 (9:00 -18:00)</li>
           </ul>
       </div>
    <p ><img src="//www.lgstatic.com/www/static/common/widgets/footer_c/layout/img/security_association_da335dd.png" alt="pic">©2017 Lagou 京ICP备14023790号-2 京公网安备11010802017116号</p>
    </div>
</footer>

<a href="#" id="backTop"></a>
<div id="feedback">
<a href="#" ></a>
    <span>我要反馈</span>
</div>
</body>
</html>